<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <table
        *ngIf="cartItems.length; else showEmptyMessage"
        class="table table-bordered"
      >
        <thead>
          <tr>
            <th width="20%">Product Image</th>
            <th width="50%">Product Details</th>
            <th width="30%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td>
              <img
                src="{{ item.imageUrl }}"
                class="img-responsive"
                width="150px"
              />
            </td>
            <td>
              <p>{{ item.name }}</p>
              <p>{{ item.unitPrice | currency: "USD" }}</p>
            </td>
            <td>
              <div class="item">
                <label>Quantity:</label> {{ item.quantity }}
              </div>
              <p class="mt-2">
                Subtotal: {{ item.quantity * item.unitPrice | currency: "USD" }}
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td style="font-weight: bold">
              <p>Total Quantity: {{ totalQuantity }}</p>
              <p>Shipping: FREE</p>
              <p>Total Price: {{ totalPrice | currency: "USD" }}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #showEmptyMessage>
        <div class="alert alert-warning col-md-12" role="alert">
          Your shopping cart is empty.
        </div>
      </ng-template>
    </div>
  </div>
</div>
